[submodule "Libs/Foundation"]
	path = Libs/Foundation
	url = https://github.com/magedevorg/Foundation.git
[submodule "Libs/Algorithm"]
	path = Libs/Algorithm
	url = https://github.com/magedevorg/Algorithm.git
[submodule "Libs/Network"]
	path = Libs/Network
	url = https://github.com/magedevorg/Network.git
[submodule "Libs/PathFinder"]
	path = Libs/PathFinder
	url = https://github.com/magedevorg/PathFinder.git
[submodule "Libs/Math"]
	path = Libs/Math
	url = https://github.com/magedevorg/Math.git
[submodule "Libs/Collision"]
	path = Libs/Collision
	url = https://github.com/magedevorg/Collision.git
